/* You can add global styles to this file, and also import other style files */
/* @tailwind base; */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";
*{
    font-family: "Plus Jakarta Sans", sans-serif;
 
}
@utility purple-black{
    background-image: linear-gradient(to right,#2c0a4c, #450d80);
    
       
}
/* @utility genbg{
    background-image: radial-gradient(#303b37, #1a1f1d);
} */

* body {
    margin: 0;
    /* font-family: 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    background: radial-gradient(#303b37, #1a1f1d);
    color: #e1eeeb;
    min-height: 100vh;
}