<div class="m-auto my-2">
  <div
    (click)="onSelect()"
    class="bg-[#433352] h-14 w-[250px] mt-2 rounded-md flex hover:bg-[#9965dd]"
  >
    <div class="flex space-x-5 p-1 items-center">
      <div class="h-10 w-10 bg-white rounded-full">
        <img
          [src]="user.avatar"
          [alt]="user.name"
          class="h-10 w-10 rounded-full"
          alt=""
          srcset=""
        />
      </div>
      <div class="text-white text-sm">{{ user.name }}</div>
    </div>
  </div>
</div>
