@for(task of tasks; track task.id){
<article class="bg-[#bf9ee5] mt-2 text-left p-2 rounded-md text-[#25113d]">
  <h1 class="font-bold">{{ task.title }}</h1>
  <time class="text-sm" datetime="">{{
    task.dueDate | date : "fullDate"
  }}</time>
  <p class="text-sm">{{ task.summary }}</p>
  <p class="actions text-right">
    <button
      (click)="onComplete()"
      class="bg-[#380774] text-white p-2 rounded-md text-sm"
    >
      Complete
    </button>
  </p>
</article>
}
<!-- <ul>
    @for(task of userTasks; track task.id) {
    <li>
      <app-task-card [task]="task" />
    </li>
    }
  </ul>
</section>
@if (addtaskClicked) {
<app-add-task [userId]="userId" (close)="closeAddTask()" />
} -->
