<app-header />
<main class="flex gap-5 w-[55%] m-auto">
  <ul>
    @for(user of users; track user.id ){
    <li>
      <app-user
        [selected]="user.id === selectedUser?.id"
        class="w-[30%]"
        [user]="user"
        (userSelected)="onUserSelected($event)"
      />
    </li>
    }
  </ul>
  @if(selectedUser){
  <div class="w-[70%] mt-3">
    <app-task class="" [userId]="selectedUser.id" [name]="selectedUser.name" />
  </div>
  }@else{
  <p class="mt-2 font-bold">Select a user to view their task</p>
  }
</main>
<!-- <router-outlet /> -->
